.navbar {
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: #003580;
}

.navContainer {
    width: 100%;
    max-width: 1024px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 500;
}

.navBtn {
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    color: #003580;
    background: #fff;
}